<div class="mt-4">
    <h3>Đăng info cầu thủ</h3>
    <form method="POST" action="/courses/store" >
        <div class="form-group">
            <label for="UCL">Tên cầu thủ</label>
            <input type="text" class="form-control" id="UCL" name="UCL">
        </div>
        <div class="form-group">
            <label for="Laliga">Thành tích</label>
            <input type="text" class="form-control" id="Laliga" name="Laliga">
        </div>
        <div class="form-group">
            <label for="videoId">Highlight</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Thêm thông tin</button>
    </form>
</div>